{{> head}}
{{> nav}}
<!--<div class="h-100 w-100 d-none d-md-block" style="max-width: 99%;"> {{!-- this 99% thing is probably bad --}}
    <div class="row">
        <div class="col col-1">
            {{> sidebar}}
        </div>
        <div class="col ">
            {{{body}}}
        </div>
    </div>
</div>
<div class="d-flex d-md-none h-100">
    {{> nav}}
</div>-->

{{{body}}}




{{> footer}}